
$urbaz-orange: #D3672C;
$urbaz-dark-orange: #B34B29;
$urbaz-brown: #BD9156;

@import "bootstrap";
@import "font-awesome";
@import "admin";
@import "toastr";
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
